.navbar {
    background-color: #4B7BE5;
}

.titulo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    text-align: justify;
}

.categoria {
    background-color: #5534A5;
    width: 30px;
    text-align: center;
    color: white;
}

.formato {
    background-color: #5534A5;
    width: 50px;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    align-items: center;
}

li {
    display: inline;
    text-align: center;
    padding: 5px;
}